<div border="1">
  <div class="main-app-div">
    <p> Current Balance {{totalBalance}}</p>
  </div>
  <button class="main-app-button" (click)="openAddGroup()">Add Group</button>
  <button class="main-app-button" (click)="openAddExpense()">Add Expense</button>
  <div>
    Group Expense Summary
  <table class="group-expense-table" border="1">
    <tr>
      <th>Group Name</th>
      <th>Balance</th>
    </tr>
    <tr *ngFor="let x of groupExpenseList">
      <td>{{x.Name}}</td>
      <td>{{x.balance}}</td>
      <td><button (click)="addNewExpense(x.Name, 'Settle')">Settle</button></td>
    </tr>
  </table>
</div>
<div>
  Group Member Expense Summary
  <table class="member-expense-table" border="1">
    <tr>
      <th>Member Name</th>
      <th>Balance</th>
    </tr>
    <tr *ngFor="let x of expense">
      <td>{{x.Name}}</td>
      <td>{{x.balance}}</td>
    </tr>
  </table>
</div>
  <div class="app-dialog" *ngIf="showAddGroup" border="1">
    <dialog open>
      <input #newGroupName placeholder="Group Name" type="text">
      <input #newGroupMembers placeholder="Members(coma separated list)" type="text">
      <input #newGroupBalance placeholder="amount" type="text">
      <button (click)="addGroup(newGroupName.value,newGroupMembers.value,newGroupBalance.value)">Add Group</button>
    </dialog>
  </div>
  <div class="app-dialog" *ngIf="showAddExpense" border="1">
    <dialog open>
      <input placeholder="Group Name" #newExpenseName type="text">
      <button class="dialog-open-button" (click)="getMemberList(newExpenseName.value)">ok</button>
      <input placeholder="amount" #newExpenseAmount type="number">
      <input placeholder="split-factor(coma separated)" #newExpenseSplitFactor type="text">
      <button (click)="addNewExpense(newExpenseName.value,newExpenseAmount.value)">Add Equally</button>
      <button
        (click)="addNewExpenseUnequally(newExpenseName.value,newExpenseAmount.value, newExpenseSplitFactor.value)">Add
        Unequally</button>
      <table border="1">
        <tr>
          <th>Member Name</th>
          <th>Group Balance</th>
        </tr>
        <tr *ngFor="let x of getMemberList(newExpenseName.value)">
          <td>{{x.Name}}</td>
          <td>{{x.balance}}</td>
        </tr>
      </table>
    </dialog>
  </div>
</div>